body {
  font-family: Arial,Helvetica,sans-serif;
  color: #000;
  overflow-y: hidden;
}

a {
  color: #035196;
}

.grid {
  width: 100vw;
  height: 100vh;
}

.container {
  position: absolute;
  left: .5em;
  z-index: 10;
  padding: 0px;
}

.systems {
  top: .3em;
}

.container.buttons {
  top: 4em;
}

.narcissus_x3xwbs {
  display: none;
}

.legendContainer {
  z-index: 1;
  top: .3em;
  background: #D64A2B;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  right: .3em;
}

.whiteLegend {
  padding: 5px;
  height: 4em;
  border-radius: 5px;
  background: white;
}