.button.system,
.button.info {
    border-radius: 5px;
    font-size: 1.7em;
    background-color: #b140b1;
    color: #111;
    border: 1px solid #c5c5c5;
    margin-right: .3em;
}

.button.home,
.button.checkStation {
    width: 2.7em; height: 2.7em;
    border-radius: 5px;
    background-color: #b140b1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    border: 1px solid #c5c5c5;
}

.button.home {
    background-image: url('../../images/home.png');
}

.button.checkStation {
    background-image: url('../../images/antenna-3.png');
}

.button.info {
    width: 1.5em; height: 1.5em;
    position: absolute;
    z-index: 10;
    right: .2em;
    bottom:.5em;
    font-size: 1.7em;
}