.button.system,
.button.info,
.button.home,
.button.checkStation,
.button.share {
    border-radius: 5px;
    background-color: #D64A2B;
    border: 1px solid #c5c5c5;
}

.button.system,
.button.info {
    font-size: 1.7em;
    margin-right: .3em;
}

.button.home,
.button.checkStation,
.button.share {
    width: 2.7em; height: 2.7em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
}

.button.home {
    background-image: url('../../images/home.png');
}

.button.checkStation {
    background-image: url('../../images/antenna-3.png');
}

.button.share {
    background-image: url('../../images/share.png');
}

.button.info {
    width: 1.55em; height: 1.55em;
    position: absolute;
    z-index: 10;
    right: .2em;
    bottom: 1em;
}

.button.share {
    position: absolute;
    z-index: 10;
    right: .9em;
    bottom: 5em;
}