.button.system,
.button.info,
.button.home,
.button.checkStation,
.button.share {
    border-radius: 5px;
    background-color: white;
    border: 1px solid #c5c5c5;
}

.button.system:hover,
.button.info:hover,
.button.home:hover,
.button.checkStation:hover,
.button.share:hover {
    border-radius: 5px;
    background-color: #D64A2B;
    border: 1px solid #c5c5c5;
}

.button.system.focus {
    background-color: #D64A2B;
    color: white;
}

.ButtonWrapper {
    background: #D64A2B;
    position: absolute;
    padding: 5px;
    z-index: 2;
    border-radius: 5px;
    margin-right: .3em;
}

.container .ButtonWrapper {
    position: relative;
    display: inline-block;
}

.button.system {
    font-size: 1.7em;
}

.button.info {
    font-size: 1.7em;
}

.button.home,
.button.checkStation,
.button.share {
    width: 2.7em; height: 2.7em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
}

.button.home {
    background-image: url('../../images/home.png');
}

.button.checkStation {
    background-image: url('../../images/antenna-3.1.png');
}

.button.share {
    background-image: url('../../images/share.png');
}

.shareWrapper {
    right: 4em;
    bottom: 8em;
    position: absolute; 
}

.infoWrapper {
    right: 4em;
    bottom: 4.2em;
    position: absolute; 
}

.stationsWrapper {
    top: 3.8em;
    position: absolute; 
}

.button.info {
    width: 1.55em; height: 1.55em;

}

SystemButton {
    position: relative;
}

@media screen and (max-width: 900px) {
    /* start of phone styles */
    .ButtonWrapper {
        padding: 3px;
    }

    .stationsWrapper {
        top: 3.5em;
    }

    .shareWrapper {
        right: 3.5em;
        bottom: 7.8em;
    }

    .infoWrapper {
        right: 3.5em;
    }
}