.IntroImageWrapper {
    width: 1312px;
    height: 600px;
    background-color: #615D5D;
}

.IntroImage {
    width: 600px;
    height: 470px;
    padding-top: 130px;
}

@media screen and (max-width: 1420px) {
    /* start of phone styles */
    .IntroImageWrapper {
        width: 1030px;
        height: 500px;
        background-color: #615D5D;
    }
    
    .IntroImage {
        width: 270px;
        height: 360px;
        padding-top: 180px;
    }
}


@media screen and (max-width: 900px) {
    /* start of phone styles */
    .IntroImageWrapper {
        width: 630px;
        height: 600px;
        background-color: #615D5D;
    }
    
    .IntroImage {
        width: 370px;
        height: 400px;
        padding-top: 140px;
    }
}

@media screen and (max-width: 481px) {
    /* start of phone styles */
    .IntroImageWrapper {
        width: 460px;
        height: 600px;
        background-color: #615D5D;
    }
    
    .IntroImage {
        width: 300px;
        height: 400px;
        padding-top: 230px;
    }
}

@media screen and (max-width: 420px) {
    /* start of phone styles */

    .IntroImageWrapper {
        width: 400px;
        height: 520px;
        background-color: #615D5D;
    }
    
    .IntroImage {
        width: 280px;
        height: 350px;
        padding-top: 140px;
    }
}

@media screen and (max-width: 370px) {
    /* start of phone styles */

    .IntroImageWrapper {
        width: 340px;
        height: 420px;
        background-color: #615D5D;
    }
    
    .IntroImage {
        width: 210px;
        height: 280px;
        padding-top: 100px;
    }
}