.imgContainer {
    display: inline-block;
    width: 25em;
    height: 15em;
}

.imgContainer img {
    max-width: 25em;
    max-height: 15em;
}

@media screen and (max-width: 479px) {
    /* start of phone styles */
    .imgContainer {
        display: inline-block;
        width: 9em;
        height: 9em;
    }
    
    .imgContainer img {
        max-width: 9em;
        max-height: 9em;
    }
}