.littleTable {
    position: absolute;
    width: 6%;
    height: 30vh;
    right: 1%;
    top: 42vh;
    z-index: 5;
    padding: 1vh;
    background-color: #D64A2B;
    border-radius: 5px;
}

.littleTable/*:hover*/ {
    width: 26%;
    height: 30vh;
}

.littleTable .react-bs-table-container {
    height: 100%;
    background-color: white;
    border-radius: 5px;
    overflow: auto;
}

.react-bs-table.react-bs-table-bordered {
    height: 81% !important;
}