.littleTable {
    position: absolute;
    /* width: 6%; */
    height: 22em;
    left: 50%;
    transform:translate(-50%);
    bottom: -21.2em;
    z-index: 2;
    width: 36%;
    padding: 5px;
    background-color: #D64A2B;
    border-radius: 5px;
    -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
    -moz-animation-fill-mode: forwards;    /* FF 5+ */
    -o-animation-fill-mode: forwards;      /* Not implemented yet */
    -ms-animation-fill-mode: forwards;     /* IE 10+ */
    animation-fill-mode: forwards;
    animation: changeDownVerticalPosition 1s;
}

.circleButton {
    height: 3em;
    width: 6em;
    border-top-left-radius: 6em;
    border-top-right-radius: 6em;
    left: 50%;
    transform: translate(-50%,-100%);
    background-color: #D64A2B;
    position: absolute;
    border-style: hidden;
    background-image: url('../../images/button_up.png');
    background-size: 55%;
    background-position: center;
    background-repeat: no-repeat;
}

.littleTable:hover {
    width: 36%;
    bottom: 0em;
    transform:translate(-50%);
    -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
    -moz-animation-fill-mode: forwards;    /* FF 5+ */
    -o-animation-fill-mode: forwards;      /* Not implemented yet */
    -ms-animation-fill-mode: forwards;     /* IE 10+ */
    animation-fill-mode: forwards;
    animation: changeUpVerticalPosition 1s;
}

.littleTable:hover .circleButton {
    background-image: url('../../images/button_down.png');
}

@keyframes changeUpVerticalPosition {
    from {bottom: -20em;}
    to {bottom: 0em;}
}

@keyframes changeDownVerticalPosition {
    from {bottom: 0em;}
    to {bottom: -20em;}
}

.littleTable .react-bs-table-container {
    height: 100%;
    background-color: white;
    border-radius: 5px;
    overflow: auto;
}

.react-bs-table.react-bs-table-bordered {
    height: 81% !important;
}

@media screen and (max-width: 900px) {
    /* start landscape of phone styles */
    
    .littleTable {
        width: 65%;
        height: 18em;
        bottom: -17em;
        padding: 3px;
    }

    .littleTable:hover {
        width: 65%;
        bottom: 0em;
    }

    @keyframes changeUpVerticalPosition {
        from {bottom: -17em;}
        to {bottom: 0em;}
    }
    
    @keyframes changeDownVerticalPosition {
        from {bottom: 0em;}
        to {bottom: -17em;}
    }
}

@media screen and (max-width: 481px) {
    /* start of phone styles */
    
    .littleTable {
        width: 95%;
        padding: 3px;
    }

    .littleTable:hover {
        width: 95%;
    }
}