.littleTable {
    position: absolute;
    width: 6%;
    height: 30vh;
    right: 1%;
    top: 55%;
    z-index: 5;
    padding: 1vh;
    background-color: rgba(214, 74, 43, 0.8);
    border-radius: 5px;
}

.littleTable/*:hover*/ {
    width: 26%;
    height: 30vh;
}

.littleTable .react-bs-table-container {
    height: 100%;
    background-color: white;
    border-radius: 5px;
    overflow: auto;
}

.react-bs-table.react-bs-table-bordered {
    height: 86% !important;
}