
.PopUpWrapper {
    border-radius: 12px;
    background: #D64A2B;
    position: absolute;
    padding: 9px;
    right: .5em;
    bottom: 9em;
    z-index: 1;
}

.PopUpTipContainer {
    width: 42px;
    height: 20px;
    position: absolute;
    left: 80%;
    padding-left: 10px;
    overflow: hidden;
    pointer-events: none;
}

.PopUpTip {
    width: 17px;
    height: 17px;
    background-color: #D64A2B;
    transform: rotate(45deg);
}

#shareInput {
    border-radius: 5px;
}